<ngx-spinner></ngx-spinner>
<c-row>
    <c-callout color="primary">
      <h3>Users</h3>
    </c-callout>
  </c-row>
  <c-row>
    <c-col>
      <button cButton style="float: right;" color="primary" variant="outline" (click)="create()">
        <svg cIcon name="cilPlus"></svg>
      </button>
    </c-col>
  </c-row>
<hr />
<table cTable *ngIf="users" [striped]="true" hover>
    <thead >
        <tr>
            <th scope="row">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Role</th>
            <th scope="col" style="width: 10%;">Action</th>
            <th scope="col" style="width: 5%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i;">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.userRole}}</td>
            <td>
                <c-button-group role="group">
                    <button cButton variant="outline" (click)="openUserClinics(user.clinics)">
                        <svg cIcon name="cilHospital"></svg>
                    </button>
                    <button cButton variant="outline" (click)="update(user.id)" [disabled]="isLoggedInUser(user.id)">
                        <svg cIcon name="cilPen"></svg>
                    </button>
                    <button cButton variant="outline" (click)="confirmDelete(user.id)"
                        [disabled]="isLoggedInUser(user.id)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </c-button-group>

            </td>
            <td>
                <span *ngIf="isLoggedIn">
                    <c-badge color="info">LoggedIn</c-badge>
                </span>
            </td>
        </tr>

    </tbody>
</table>
<c-modal id="deleteConfirm" [visible]="visibleConfirmDelete">
    <c-modal-header>
        <h5 cModalTitle>Delete Confirmation</h5>
        <button (click)="closeDeleteConfirmation()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Are you sure to delete this user?</c-modal-body>
    <c-modal-footer>
        <button (click)="closeDeleteConfirmation()" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary" (click)="handleDelete()">Save changes</button>
    </c-modal-footer>
</c-modal>
<c-modal id="userclinics" [visible]="visibleUserClinics" size="lg">
    <c-modal-header>
        <h5 cModalTitle>User Clinis</h5>
    </c-modal-header>
    <c-modal-body>
        <table cTable small>
            <thead cTableColor="light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 50%;">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clinic of selectedClinics; index as i;">
                    <td>{{i+1}}</td>
                    <td>{{clinic.name}}</td>
                </tr>
            </tbody>
        </table>
    </c-modal-body>
</c-modal>