<c-row>
    <c-col md="6" xl="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <h3>Hospitality Service</h3>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col md="4" xl="4" xs="12" *ngFor="let service of hospitalityServiceData ">
                        <div class="border-start border-start-4  py-1 px-3" [ngClass]="service.color">
                            <div class="text-medium-emphasis" style="font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, 
                                monospace;font-size: larger;font-weight: bold;">
                                {{service.performanceName}}</div>
                            <div class="text-medium-emphasis">
                                {{service.performanceLabel}}
                            </div>
                            <div class="fs-5 fw-semibold">{{service.performanceValue}}</div>
                        </div>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col md="6" xl="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <h3>Clinical Service</h3>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col md="4" xl="4" xs="12" *ngFor="let service of clinicalServiceData ">
                        <div class="border-start border-start-4  py-1 px-3" [ngClass]="service.color">
                            <div class="text-medium-emphasis" style="font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, 
                            monospace;font-size: larger;font-weight: bold;">
                                {{service.performanceName}}</div>
                            <div class="text-medium-emphasis">
                                {{service.performanceLabel}}
                            </div>
                            <div class="fs-5 fw-semibold">{{service.performanceValue}}</div>
                        </div>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
{{loading}}
<c-row *ngIf="loading">
    <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
            Hospitality
        </h4>
    </c-col>
    <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
            <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
            <c-button-group class="float-end me-3" role="group">
                <input class="btn-check" formControlName="trafficRadio" type="radio" value="Day" />
                <label (click)="setTrafficPeriod('Day')" cButton cFormCheckLabel color="secondary"
                    variant="outline">Day</label>

                <input class="btn-check" formControlName="trafficRadio" type="radio" value="Month" />
                <label (click)="setTrafficPeriod('Month')" cButton cFormCheckLabel color="secondary"
                    variant="outline">Month</label>

                <input class="btn-check" formControlName="trafficRadio" type="radio" value="Year" />
                <label (click)="setTrafficPeriod('Year')" cButton cFormCheckLabel color="secondary"
                    variant="outline">Year</label>
            </c-button-group>
        </form>

    </c-col>
    <c-col lg="6">
        <c-chart [data]="hospitalityMainChart.data" [height]="300" [ngStyle]="{'marginTop.px': 40}"
            [options]="hospitalityMainChart.options" [type]="hospitalityMainChart.type">
        </c-chart>
    </c-col>
    <c-col lg="6">
        <c-chart [data]="hospitalityMainChart.data" [height]="300" [ngStyle]="{'marginTop.px': 40}"
            [options]="hospitalityMainChart.options" [type]="hospitalityMainChart.type">
        </c-chart>
    </c-col>
</c-row>