<c-card>
    <c-card-body>
        <h5 cCardTitle>
            <h1 class="text-center display-1">Please rate our service today</h1>
        </h5>
        <div class="text-center">
            <a  class="btn btn-link" (click)="next($event)" name="VeryGood">
                <svg cIcon name="cilMoodVeryGood" size="9xl" class="text-success"></svg>
            </a>

            <a  class="btn btn-link" (click)="next($event)" name="Happy">
                <svg cIcon name="cilHappy" size="9xl" class="text-info"></svg>
            </a>
            <a class="btn btn-link" (click)="next($event)" name="Meh">
                <svg cIcon name="cilMeh" size="9xl" class="text-warning"></svg>
            </a>

            <a  class="btn btn-link" (click)="next($event)" name="Frown">
                <svg cIcon name="cilFrown" size="9xl" class="text-danger"></svg>
            </a>
        </div>
    </c-card-body>
</c-card>