<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
<c-row>
  <c-col xs="12">
    <h1>Clinic List</h1>
  </c-col>
  <c-col xs="12">
    <div style="float: right;">
      <button cButton color="primary" variant="outline" (click)="create()">
        Create Clinic
      </button>
    </div>
  </c-col>
</c-row>
<hr />
<c-alert color="danger" *ngIf="errorMessage !== ''">{{ errorMessage }}</c-alert>
<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Clinic Name</th>
      <th scope="col">Address</th>
      <th scope="col">Country</th>
      <th scope="col">Province/State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clinic of clinics; index as i;">
      <td>{{clinic.id}}</td>
      <td>{{clinic.name}}</td>
      <td>{{clinic.address}}</td>
      <td>{{clinic.country}}</td>
      <td>{{clinic.ps}}</td>
      <td>{{clinic.zipcode}}</td>
      <td>
        <button cButton variant="outline" class="me-3" (click)="update(clinic.id)">
          <svg cIcon name="cilPen"></svg>
        </button>
        <button cButton variant="outline" (click)="confirmDelete(clinic.id)">
          <svg cIcon name="cilTrash"></svg>
        </button>
      </td>
    </tr>

  </tbody>
</table>
<c-modal id="liveDemoModal" [visible]="visibleConfirmDelete">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="closeDeleteConfirmation()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure  to delete this clinic?</c-modal-body>
  <c-modal-footer>
    <button (click)="closeDeleteConfirmation()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="handleDelete()">Save changes</button>
  </c-modal-footer>
</c-modal>