<c-row>
    <c-col lg="6" *ngIf="loading">
        <c-chart [data]="hospitalityPerformanceDataMainChart.data" [height]="300"
            [ngStyle]="{'marginTop.px': 40}" [options]="hospitalityPerformanceDataMainChart.options"
            [type]="hospitalityPerformanceDataMainChart.type">
        </c-chart>
    </c-col>
    <c-col lg="6" *ngIf="loading">
        <c-chart [data]="hospitalityAverageDataMainChart.data" [height]="300" [ngStyle]="{'marginTop.px': 40}"
            [options]="hospitalityAverageDataMainChart.options" [type]="hospitalityAverageDataMainChart.type">
        </c-chart>
    </c-col>
</c-row>
<ng-container *ngIf="!loading;">
    <div class="skeleton-wrapper">
      <div class="skeleton-line title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
    </div>
  </ng-container>