<ngx-spinner></ngx-spinner>
<c-container fluid>
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>User Creation</h3>
                </c-card-header>
                <c-card-body>
                    <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
                    <form cForm #userCreateForm="ngForm" (ngSubmit)="create()" (change)="resetError()">
                        <div class="form-group">
                            <small *ngIf="name.invalid && (name.dirty || name.touched)" class="form-text text-danger">
                                user name is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="name" cFormControl id="name" name="name"
                                    placeholder="Enter User Name" required
                                    [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                                    [(ngModel)]="form.name" #name="ngModel" />
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <small *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="form-text text-danger">
                                    user password is required
                                </small>
                                <c-input-group class="mb-3">
                                    <input autoComplete="password" cFormControl id="password" name="password"
                                        type="password" placeholder="Enter User Password" required
                                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
                                        [(ngModel)]="form.password" #password="ngModel" />
                                </c-input-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <small *ngIf="useraddress.invalid && (useraddress.dirty || useraddress.touched)"
                                class="form-text text-danger">
                                clinic Address is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="clinicaddressvalue" cFormControl id="useraddress"
                                    name="useraddress" placeholder="Enter Address" required
                                    [ngClass]="{'is-invalid': useraddress.invalid && (useraddress.dirty || useraddress.touched)}"
                                    [(ngModel)]="form.useraddress" #useraddress="ngModel" />
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <small
                                *ngIf="useraddresscountry.invalid && (useraddresscountry.dirty || useraddresscountry.touched)"
                                class="form-text text-danger">
                                clinic County is required
                            </small>
                            <c-input-group class="mb-3">
                                <select cSelect sizing="sm" cFormControl autoComplete="useraddresscountry"
                                    name="useraddresscountry" id="useraddresscountry"
                                    [ngClass]="{'is-invalid': useraddresscountry.invalid && (useraddresscountry.dirty || useraddresscountry.touched )}"
                                    [(ngModel)]="form.useraddresscountry" #useraddresscountry="ngModel">
                                    <option value="null">Select County</option>
                                    <option *ngFor="let country of countries" [value]="country.name">
                                        {{country.name}}
                                    </option>
                                </select>
                            </c-input-group>
                        </div>
                        <div class="form-group" *ngIf="form.useraddresscountry === 'United States of America'">
                            <c-input-group class="mb-3">
                                <select cSelect sizing="sm" autoComplete="clinicaddressstate" name="clinicaddressstate"
                                    id="clinicaddressstate" [(ngModel)]="form.useraddressstate"
                                    #useraddressstate="ngModel">
                                    <option value="null">Select State</option>
                                    <option *ngFor="let state of states" [value]="state">
                                        {{state}}
                                    </option>
                                </select>
                            </c-input-group>
                        </div>
                        <div class="form-group"
                            *ngIf="form.useraddresscountry !== 'United States of America' && (form.useraddresscountry!== null)">
                            <small
                                *ngIf="useraddressprovince.invalid && (useraddressprovince.dirty || useraddressprovince.touched)"
                                class="form-text text-danger">
                                User Address Province is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="clinicaddressprovince" cFormControl id="clinicaddressprovince"
                                    name="clinicaddressprovince" placeholder="Enter Province" required
                                    [ngClass]="{'is-invalid': useraddressprovince.invalid && (useraddressprovince.dirty || useraddressprovince.touched)}"
                                    [(ngModel)]="form.useraddressprovince" #useraddressprovince="ngModel" />
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <small *ngIf="useraddresscity.invalid && (useraddresscity.dirty || useraddresscity.touched)"
                                class="form-text text-danger">
                                User Address City is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="useraddresscity" cFormControl id="useraddresscity"
                                    name="useraddresscity" placeholder="Enter City" required
                                    [ngClass]="{'is-invalid': useraddresscity.invalid && (useraddresscity.dirty || useraddresscity.touched)}"
                                    [(ngModel)]="form.useraddresscity" #useraddresscity="ngModel" />
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <small
                                *ngIf="useraddresszipcode.invalid && (useraddresszipcode.dirty || useraddresszipcode.touched)"
                                class="form-text text-danger">
                                User Address Zip Code is required
                            </small>
                            <c-input-group class="mb-3">
                                <input zipcode autoComplete="useraddresszipcode" cFormControl id="useraddresszipcode"
                                    name="useraddresszipcode" placeholder="Enter Zip Code" required
                                    [ngClass]="{'is-invalid': useraddresszipcode.invalid && (useraddresszipcode.dirty || useraddresszipcode.touched)}"
                                    [(ngModel)]="form.useraddresszipcode" #useraddresszipcode="ngModel" />
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <c-input-group class="mb-3">
                                <select cSelect sizing="sm" autoComplete="userrole" name="userrole" id="userrole"
                                    [(ngModel)]="form.userrole" #userrole="ngModel">
                                    <option value="null">Select Role</option>
                                    <option *ngFor="let role of userRoles" [value]="role.value">
                                        {{role.name}}
                                    </option>
                                </select>
                            </c-input-group>
                        </div>
                        <div class="form-group">
                            <c-input-group class="mb-3">
                                <c-multi-select *ngIf="returnClinics" multiple cSelect sizing="sm"
                                    autoComplete="selectedClinics" name="selectedClinics" id="selectedClinics"
                                    [(ngModel)]="form.selectedClinics" #selectedClinics="ngModel">
                                    <c-multi-select-option *ngFor="let clinic of returnClinics"
                                        [value]="clinic.id?.toString()"
                                        [selected]="clinic.selected">{{clinic.name}}</c-multi-select-option>
                                </c-multi-select>
                            </c-input-group>
                        </div>
                        <div class="text-center">
                            <button cButton type="submit" size="sm" color="primary" variant="outline">
                                Create
                            </button>
                        </div>
                    </form>
                </c-card-body>

            </c-card>
        </c-col>
    </c-row>
</c-container>