<c-row>
    <c-col md="6" xl="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <h3>Hospitality Service</h3>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col md="4" xl="4" xs="12" *ngFor="let service of hospitalityServiceData ">
                        <div class="border-start border-start-4  py-1 px-3" [ngClass]="service.color">
                            <div class="text-medium-emphasis" style="font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, 
                                monospace;font-size: larger;font-weight: bold;">
                                {{service.performanceName}}</div>
                            <div class="text-medium-emphasis">
                                {{service.performanceLabel}}
                            </div>
                            <div class="fs-5 fw-semibold">{{service.performanceValue}}</div>
                        </div>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
        
    </c-col>
    <c-col md="6" xl="6" xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <h3>Clinical Service</h3>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col md="4" xl="4" xs="12" *ngFor="let service of clinicalServiceData ">
                        <div class="border-start border-start-4  py-1 px-3" [ngClass]="service.color">
                            <div class="text-medium-emphasis" style="font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, 
                            monospace;font-size: larger;font-weight: bold;">
                                {{service.performanceName}}</div>
                            <div class="text-medium-emphasis">
                                {{service.performanceLabel}}
                            </div>
                            <div class="fs-5 fw-semibold">{{service.performanceValue}}</div>
                        </div>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>